table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}
td {
    padding-right: 10px !important;
}
.spinner__wrapper {
    background-color: #fff;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}
