<div [hidden]="!isLoad" class="sort">
    <mat-form-field class="input">
        <mat-label>Sort option</mat-label>
        <mat-select [formControl]="modeControl" name="option">
            <mat-option value="none">None</mat-option>
            <mat-option *ngFor="let mode of modes" [value]="mode.value">
                {{mode.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Sort value</mat-label>
        <input matInput placeholder="Ex. >10" [formControl]="valueControl"
            matTooltip="Chose sort value for ex. if you want to find users with id that bigest then ten write >10 without spaces.
        Use '-' to show range for ex. 5-9, or just write a number for ex. 13 to find by it. User 'true' or 'false' to check status." matTooltipHideDelay="100"
            (keyup)="check($event)">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="filter()">Apply</button>
    <button mat-flat-button color="primary" (click)="reset()">Reset</button>
</div>
<p [hidden]="!isLoad">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 20" #input>
    </mat-form-field>
</p>

<div class="mat-elevation-z8" [hidden]="!isLoad">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <ng-container matColumnDef="features">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Features </th>
            <td mat-cell *matCellDef="let row">
                <mat-form-field appearance="standard">
                    <mat-label>Features</mat-label>
                    <mat-select (selectionChange)="updateFeatures(feat.value, row.id)" #feat
                        [disabled]="!canSetFeatures" multiple [value]="row.features">
                        <mat-select-trigger>
                            {{feat.value ? features[0]?.title : ''}}
                            <span *ngIf="feat.value?.length > 1" class="example-additional-selection">
                              (+{{feat.value.length - 1}} {{feat.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                        <ng-container *ngFor="let feature of features">
                            <mat-option [value]="feature.id">{{ feature.title }}</mat-option>
                        </ng-container>                                               
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="permisions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Permisions </th>
            <td mat-cell *matCellDef="let row">
                <mat-form-field appearance="standard">
                    <mat-label>Permisions</mat-label>
                    <mat-select (selectionChange)="updatePermisions(perm.value, row.id)" #perm
                        [disabled]="!canSetPermisions" multiple [value]="row.permisions">
                        <mat-select-trigger>
                            {{perm.value ? permisions[0]?.title : ''}}
                            <span *ngIf="perm.value?.length > 1" class="example-additional-selection">
                              (+{{perm.value.length - 1}} {{perm.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                        <ng-container *ngFor="let permision of permisions">
                            <mat-option [value]="permision.id">{{ permision.title }}</mat-option>
                        </ng-container>                                               
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class="spinner__wrapper" *ngIf="!isLoad">
    <mat-spinner class="spinner"></mat-spinner>
</div>