<mat-card class="form">
    <p *ngIf="!userId">
        <mat-form-field appearance="standard" class="input">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailControl">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard" class="input">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="passControl" (keyup)="check($event)" type="password">
        </mat-form-field>
    </p>
    <button mat-flat-button color="primary" [disabled]="passControl.invalid" (click)="handle()">Log in</button>
</mat-card>