table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}
.description {
    max-width: 100px !important;
    padding: 5px;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 20%;
}

tr {
    cursor: pointer;
}