<ng-container *ngIf="isLoad">
    <mat-list role="list">
        <mat-list-item role="listitem">Name: {{ user?.name }}</mat-list-item>
        <mat-list-item role="listitem">Email: {{ user?.email }}</mat-list-item>
        <mat-list-item role="listitem">
            <button mat-flat-button color="primary" (click)="openDialog()">Change password</button>
        </mat-list-item>
    </mat-list>
</ng-container>
<div class="spinner__wrapper" *ngIf="!isLoad">
    <mat-spinner class="spinner"></mat-spinner>
</div>