.mat-typography {
    display: flex;
    display: flex;
    justify-content: space-between;
}
.actions {
    margin-left: 50px;
}

.mat-form-field {
    min-width: 250px;
}

.action {
    margin-bottom: 20px;
}