<form class="add-form">
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title of task" [formControl]="title" maxlength="100">
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Leave a message</mat-label>
      <textarea matInput placeholder="Mesage" class="message" maxlength="476" [formControl]="message"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="message.invalid || title.invalid" (click)="addTask()">Add</button>
</form>